scikit-learn>=0.20.3
numpy>=1.16.2
pandas>=0.24.1
openpyxl>=2.5.14
matplotlib>=3.0.3
scipy>=1.2.1
PyMassSpec>=2.1.0
bs4>=0.0.1
requests>=2.21.0
Flask>=1.0.2
mathematical>=0.1.6
chemistry_tools >= 0.1.2
importlib_resources >= 1.0.2
