<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Compound Properties - {{comp.IUPAC["String"]}}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>
		body {
			padding-top: 10px;
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 20px;
	  	}
		th.rotate {
		  /* Something you can count on */
		  height: 140px;
		  white-space: nowrap;
		}
		
		div.leftpad {
		  padding-top: 2px;
		  padding-bottom: 2px;
		  padding-left: 20px;
		}
		
		th.rotate > div {
		  -moz-transform:
			/* Magic Numbers */
			translate(1px, 90px)
			/* 45 is really 360 - 45 */
			rotate(315deg);
			/*rotate(270deg);*/
		  transform:
			/* Magic Numbers */
			translate(1px, 90px)
			/* 45 is really 360 - 45 */
			rotate(315deg);
			/*rotate(270deg);*/
		  width: 30px;
		}
		
	</style>
</head>
<body>

<div class="row">
  	<div class="col">
		<h2>{{ data["hits"][0]["Name"]|safe }}</h2>
		<div class="leftpad">
			<div class="row">
				<div class="col-sm">
					<p>
						IUPAC Name: {{comp.format_string(comp.IUPAC)|safe}}
					</p>
					{%if comp.CAS%}
						<p data-toggle="tooltip" data-placement="top" title="A proprietary registry number assigned by the Chemical Abstracts Service (CAS) division of the American Chemical Society (ACS) often used to help describe chemical ingredients.">
							CAS: {{comp.CAS}}
						</p>
					{%endif%}
					<p>
						PubChem ID: {{comp.cid}}
					</p>
				</div>
				<div class="col-sm">
					<p>
						Formula: {{comp.hill_formula|safe}}
					</p>
					<p data-toggle="tooltip" data-placement="top" title="{{comp.get_property_description('Molecular Weight')}}">
						Molecular Mass: {{comp.molecular_weight}}
					</p>
					<p data-toggle="tooltip" data-placement="top" title="{{comp.get_property_description('Exact Mass')}}">
						Exact Mass: {{comp.exact_mass}}
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col">
		<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" href="#statistics_collapse">
					Peak Statistics
				</a>
			</h4>
		</div>
		<div id="statistics_collapse" class="panel-collapse collapse show">
			<div class="panel-body">
				<div class="leftpad">
					<div class="row">
						<div class="col-sm">
							<p>
								Count: {{data["hits"][0]["Count"]}}/{{len(samples)}}
								<div class="table-responsive">
									<table class="table">
										<tr>
											<th></th>
											<th><div><span>Mean</span></div></th>
											<th><div><span>Stdev</span></div></th>
											<th><div><span>%RSD</span></div></th>
										</tr>
										<tr>
											<td>Retention Time</td>
											<td>{{rounders(data["average_rt"],"0.000")}}</td>
											<td>{{rounders(np.std(data["rt_data"]),"0.000000")}}</td>
											<td>{{rounders(np.std(data["rt_data"])*100/data["average_rt"],"0.00")}}%</td>
										</tr>
										<tr>
											<td>Peak Area</td>
											<td>{{rounders(data["average_peak_area"],"0.00")}}</td>
											<td>{{rounders(np.std(data["area_data"]),"0.00")}}</td>
											<td>{{rounders(np.std(data["area_data"])*1000/data["average_peak_area"],"0.00")}}%</td>
										</tr>
										<tr>
											<td>Match Factor</td>
											<td>{{rounders(data["hits"][0]["average_MF"],"0.0")}}</td>
											<td>{{rounders(np.nanstd(data["hits"][0]["mf_data"]),"0.0000")}}</td>
											<td>{{rounders(np.nanstd(data["hits"][0]["mf_data"])*100/data["hits"][0]["average_MF"],"0.00")}}%</td>
										</tr>
										<tr>
											<td>Reverse Match Factor</td>
											<td>{{rounders(data["hits"][0]["average_RMF"],"0.0")}}</td>
											<td>{{rounders(np.nanstd(data["hits"][0]["rmf_data"]),"0.0000")}}</td>
											<td>{{rounders(np.nanstd(data["hits"][0]["rmf_data"])*100/data["hits"][0]["average_RMF"],"0.00")}}%</td>
										</tr>
										<tr>
											<td>Hit Number</td>
											<td>{{rounders(data["hits"][0]["average_hit"],"0.0")}}</td>
											<td>{{rounders(np.nanstd(data["hits"][0]["hit_num_data"]),"0.0000")}}</td>
											<td>{{rounders(np.nanstd(data["hits"][0]["hit_num_data"])*100/data["hits"][0]["average_hit"],"0.00")}}%</td>
										</tr>
										<tr>
											<td>MS Comparison</td>
											<td>{{rounders(np.nanmean(data["ms_comparison"]),"0.0")}}</td>
											<td>{{rounders(np.nanstd(data["ms_comparison"]),"0.0000")}}</td>
											<td>{{rounders(np.nanstd(data["ms_comparison"])*100/np.nanmean(data["ms_comparison"]),"0.00")}}%</td>
										</tr>
									</table>
								</div>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="col">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" href="#collapseFour">Structure</a>
				</h4>
			</div>
			<div id="collapseFour" class="panel-collapse collapse show">
				<div class="panel-body">
					<img src="https://pubchem.ncbi.nlm.nih.gov/image/imgsrv.fcgi?cid={{comp.cid}}&t=l" alt="Structure for {{ comp.iupac_name }}">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="leftpad">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" href="#data_collapse">
						Peak Data
					</a>
				</h4>
			</div>
			<div id="data_collapse" class="panel-collapse collapse">
				<div class="panel-body">
					<div class="leftpad">
						<div class="row">
							<div class="col-sm">
								<p>
									<div class="table-responsive">
										<table class="table">
											<tr>
												<th>Sample</th>
												<th>Retention Time</th>
												<th>Peak Area</th>
												<th>Match Factor</th>
												<th>Reverse Match Factor</th>
												<th>Hit Number</th>
											</tr>
											{%for index in range(samples|length)%}
												<tr>
													<td>{{samples[index]}}</td>
													<td>{{rounders(data["rt_data"][index],"0.000")}}</td>
													<td>{{rounders(data["area_data"][index],"0.00")}}</td>
													<td>{{rounders(data["hits"][0]["mf_data"][index],"0.0")}}</td>
													<td>{{rounders(data["hits"][0]["rmf_data"][index],"0.0")}}</td>
													<td>{{rounders(data["hits"][0]["hit_num_data"][index],"0.0")}}</td>
												</tr>
											{%endfor%}
										</table>
									</div>
								</p>
								<p>
									{{data}}
								</p>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!---<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" href="#collapseOne">
						Properties
					</a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse show">
				<div class="panel-body">
					<div class="leftpad">
						<div class="row">
							<div class="col-sm">
								{%if comp.melting_point != "NotFound"%}
									<p data-toggle="tooltip" data-placement="top" title="{{comp.get_property_description('Melting Point')}}">
										Melting Point: {{comp.melting_point}} {{comp.get_property_unit('Melting Point')}}
									</p>
								{%endif%}
								{%if comp.boiling_point != "NotFound"%}
									<p data-toggle="tooltip" data-placement="top" title="{{comp.get_property_description('Boiling Point')}}">
										Boiling Point: {{comp.boiling_point}} {{comp.get_property_unit('Boiling Point')}}
									</p>
								{%endif%}
								{%if comp.density != "NotFound"%}
									<p data-toggle="tooltip" data-placement="top" title="{{comp.get_property_description('Density/Specific Gravity')}}">
										Density/Specific Gravity: {{comp.density}}
									</p>
								{%endif%}
								{%if comp.color != "NotFound"%}
									<p data-toggle="tooltip" data-placement="top" title="{{comp.get_property_description('Color/Form')}}">
										Colour/Form: {{comp.color}}
									</p>
								{%endif%}
								{%if comp.odor != "NotFound"%}
									<p data-toggle="tooltip" data-placement="top" title="{{comp.get_property_description('Odor')}}">
										Odour: {{comp.odor}}
									</p>
								{%endif%}
	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>--->
	
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" href="#collapseTwo">Identifiers</a>
				</h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse">
				<div class="panel-body">
					<div class="leftpad">
						<div class="row">
							<div class="col-sm">
								<p>{{comp.inchi}}</p>
								<p>InChIKey: {{comp.inchikey}}</p>
								<p>SMILES: {{comp.smiles}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" href="#collapseThree">Synonyms</a>
				</h4>
			</div>
			<div id="collapseThree" class="panel-collapse collapse">
				<div class="panel-body">
					<ol>
						<li>{{comp.synonyms[0]}}</li>
						<li>{{comp.synonyms[1]}}</li>
						<li>{{comp.synonyms[2]}}</li>
						<li>{{comp.synonyms[3]}}</li>
						<li>{{comp.synonyms[4]}}</li>
						<li>{{comp.synonyms[5]}}</li>
						<li>{{comp.synonyms[6]}}</li>
						<li>{{comp.synonyms[7]}}</li>
						<li>{{comp.synonyms[8]}}</li>
						<li>{{comp.synonyms[9]}}</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>





<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>